/*****hectoria*****/
/* #hectoria(headerfek1subypzu) #css starts  */
.headerfek1subypzu .logo {
    max-height: 50px;
    max-width: 50px
}
.headerfek1subypzu .navbar-light .navbar-nav .nav-link {
    color: #37423b
}
.headerfek1subypzu .btn-outline-primary{
    background-color: #5FCF80;
    color: #fff;
    padding: 8px 25px;
    border-radius: 50px
}
.headerfek1subypzu .btn-outline-primary:hover,
.headerfek1subypzu .btn-outline-primary:not(:disabled):not(.disabled):active{
    background-color: #3AC162;
    color: #fff
}

.headerfek1subypzu .navbar-light .navbar-nav .nav-item .nav-link:hover{
    color: #5FCF80
}
/* #hectoria(headerfek1subypzu) #css ends  */
/*****hectoria*****/

/*****craig*****/
    /* #craig(calltoactionca75l1dtxe0) #css starts  */
    .calltoactionca75l1dtxe0 .fdb-block {
        padding: 5.5rem 0;
        background-position: right;
        background-image: url(https://images.unsplash.com/photo-1507537509458-b8312d35a233?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80)
    }
    .calltoactionca75l1dtxe0 h1 {
        font-size: 48px;
        color: #37423b;
        font-weight: 600
    }
    .calltoactionca75l1dtxe0 .lead {
        font-size: 24px;
        color: #37423b
    }
    .calltoactionca75l1dtxe0 .btn-light {
        border: none;
        font-weight: bold;
        padding: 8px 25px;
        border-radius: 50px
    }
    .calltoactionca75l1dtxe0 .btn-light:not(:disabled):not(.disabled):active,
    .calltoactionca75l1dtxe0 .btn-light:hover {
        background-color: #3AC162;
        color: #fff
    }
    
    .calltoactionca75l1dtxe0 .btn-dark{
        display: none
    }
    /* #craig(calltoactionca75l1dtxe0) #css ends  */
/*****craig*****/

/*****flynn*****/
    /* #flynn(flynnpom0pcxyokh) #css starts  */
    .flynnpom0pcxyokh .fdb-block {
        padding: 5.5rem 0
     }
     .flynnpom0pcxyokh h1 {
        font-size: 34px
     }
     .flynnpom0pcxyokh .lead {
        font-size: 24px
     }
     .flynnpom0pcxyokh strong{
        color: #37423b
     }
     .flynnpom0pcxyokh p{
        color: #878787
     }
    /* #flynn(flynnpom0pcxyokh) #css ends  */
/*****flynn*****/

/*****cade*****/
 /* #cade(af598102c9dad94e) #css starts  */
 .counteraf598102c9dad94e{
    padding: 5.5rem 0
 }
 .counteraf598102c9dad94e h2{
    font-size: 48px;
    font-weight: 700;
    color: #5FCF80   
}
.counteraf598102c9dad94e h4{
    font-size: 15px;
    font-weight: 600;
    color: #37423b
}
/* #cade(af598102c9dad94e) #css ends  */
/*****cade*****/

/*****fosil*****/
/* #fosil(fosilftkuy5166le) #css starts */
.fosilftkuy5166le .fdb-block {
    padding: 5.5rem 0
}
.fosilftkuy5166le .fdb-block h4{
    margin-top: 1.25rem;
    color: #37423b;
    font-weight: 700
}
.fosilftkuy5166le p {
    color: #878787
}
/* #fosil(fosilftkuy5166le) #css starts */
/*****fosil*****/

/*****florence*****/
/* #florence(florencepo6oslbpdcb) #css starts */
.florencepo6oslbpdcb .fdb-block {
    padding: 5.5rem 0
}
.florencepo6oslbpdcb .fdb-block h2{
    font-size: 34px;
    font-weight: 700
}
.florencepo6oslbpdcb .fdb-block p a{
    color: #37423b;
    font-weight: 700
}
.florencepo6oslbpdcb .fdb-block p a:hover{
    color: #3AC162
}

/* #florence(florencepo6oslbpdcb) #css starts */
/*****florence*****/

/*****freya*****/
/* #freya(freyategxpfzk1ni) #css starts */
.freyategxpfzk1ni .fdb-block {
    padding: 5.5rem 0
}
  .freyategxpfzk1ni  .fdb-block .fdb-box {
      color: #050D13
  }

      .freyategxpfzk1ni  .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #5FCF80
     }

     .freyategxpfzk1ni .fdb-block img + h2 {
    color: #37423b;
    margin-top: 2.5rem;
    font-weight: 700;
    font-size: 20px;
     }
     
     .freyategxpfzk1ni p {
        color: #878787
    }
/* #freya(freyategxpfzk1ni) #css starts */
/*****freya*****/

/*****publio*****/
    /* #publio(pricesteraco9r7ex) #css starts  */
    .pricesteraco9r7ex .h4{
        color: #3AC162
    }
       .pricesteraco9r7ex .btn-secondary{
        background: #5FCF80;
        font-weight: bold;
        color: #050D13;
        border: none
    }
    .pricesteraco9r7ex .btn-secondary:not(:disabled):not(.disabled):active{
        background: #5FCF80;
        color: #050D13
    }
    /* #publio(pricesteraco9r7ex) #css ends  */
/*****publio*****/

/*****tanika*****/ 
/* #tanika(teamtmpxpt1wbh8) #css starts */
.teamtmpxpt1wbh8  h4{
    color: #3AC162
   }

/* #tanika(teamtmpxpt1wbh8) #css ends */
/*****tanika*****/

/*****foot*****/ 
/* #foot(footftkxsoham8f) #css starts */
.footftkxsoham8f h3{    
    margin-left: 15px;
    color: #5FCF80
}
.footftkxsoham8f h3 .social{
    margin-left: 5px
}
.footftkxsoham8f .headingT{
    margin-left: -4px
}
.footftkxsoham8f .nav .nav-link{
    color: #050D13
}
.footftkxsoham8f .nav-link:focus, 
.footftkxsoham8f .nav-link:hover {
    font-weight: bold;
}
.footftkxsoham8f .fab{
    color: #050D13
}
/* #foot(footftkxsoham8f) #css ends */
/*****foot*****/