/*****hectoria*****/
/* #hectoria(headerfek1subypzu) #css starts  */
.headerfek1subypzu .btn-outline-primary{
    background-color: #5FCF80;
    color: black
}

.headerfek1subypzu .navbar-light .navbar-nav .nav-item .nav-link:hover{
    color: #3AC162
}
.btn-outline-primary:not(:disabled):not(.disabled):active{
    background-color: #5FCF80;
    color: black
}
.headerfek1subypzu .logo {
    max-height: 50px
}

/* #hectoria(headerfek1subypzu) #css ends  */
/*****hectoria*****/

/*****craig*****/
    /* #craig(calltoactionca75l1dtxe0) #css starts  */

    .calltoactionca75l1dtxe0 .btn-light {
        border: none;
        font-weight: bold;
    }
    .calltoactionca75l1dtxe0 .btn-light:not(:disabled):not(.disabled):active,
    .calltoactionca75l1dtxe0,
    .calltoactionca75l1dtxe0 .btn-light:hover {
        background-color: #5FCF80
    }
    
    .calltoactionca75l1dtxe0 .btn-dark:hover,
    .calltoactionca75l1dtxe0 .btn-dark:not(:disabled):not(.disabled):active,
    .calltoactionca75l1dtxe0 .btn-dark:focus {
        font-weight: bold;
        border-color: #343A40;
        background-color: #343A40
    }
    /* #craig(calltoactionca75l1dtxe0) #css ends  */
/*****craig*****/

/*****flynn*****/
    /* #flynn(flynnpom0pcxyokh) #css starts  */
    .flynnpom0pcxyokh .fdb-block {
        padding: 7.5rem 0
     }
     .flynnpom0pcxyokh strong{
        color: #3AC162
     }
    /* #flynn(flynnpom0pcxyokh) #css ends  */
/*****flynn*****/

/*****cade*****/
 /* #cade(af598102c9dad94e) #css starts  */
 .counteraf598102c9dad94e{
    padding: 7.5rem 0
 }
 .counteraf598102c9dad94e h2{
    font-size: 44px;
    color: #3AC162   
}
.counteraf598102c9dad94e h4{
    font-size: 22px;
    color: #050D13
}
/* #cade(af598102c9dad94e) #css ends  */
/*****cade*****/

/*****fosil*****/
/* #fosil(fosilftkuy5166le) #css starts */
.fosilftkuy5166le .fdb-block h4{
    margin-top: 1.25rem;
    color: #3AC162
}
/* #fosil(fosilftkuy5166le) #css starts */
/*****fosil*****/

/*****florence*****/
/* #florence(florencepo6oslbpdcb) #css starts */
.florencepo6oslbpdcb .fdb-block p a{
    color: #5FCF80
}
.florencepo6oslbpdcb .fdb-block p a:hover{
    color: #3AC162
}

/* #florence(florencepo6oslbpdcb) #css starts */
/*****florence*****/

/*****freya*****/
/* #freya(freyategxpfzk1ni) #css starts */
  .freyategxpfzk1ni  .fdb-block .fdb-box {
      color: #050D13
  }

      .freyategxpfzk1ni   .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #5FCF80
     }

     .freyategxpfzk1ni .fdb-block img + h2 {
        color: #3AC162;
      margin-top: 2.5rem
     }
/* #freya(freyategxpfzk1ni) #css starts */
/*****freya*****/

/*****publio*****/
    /* #publio(pricesteraco9r7ex) #css starts  */
    .pricesteraco9r7ex .h4{
        color: #3AC162
    }
       .pricesteraco9r7ex .btn-secondary{
        background: #5FCF80;
        font-weight: bold;
        color: #050D13;
        border: none
    }
    .pricesteraco9r7ex .btn-secondary:not(:disabled):not(.disabled):active{
        background: #5FCF80;
        color: #050D13
    }
    /* #publio(pricesteraco9r7ex) #css ends  */
/*****publio*****/

/*****tanika*****/ 
/* #tanika(teamtmpxpt1wbh8) #css starts */
.teamtmpxpt1wbh8  h4{
    color: #3AC162
   }

/* #tanika(teamtmpxpt1wbh8) #css ends */
/*****tanika*****/

/*****foot*****/ 
/* #foot(footftkxsoham8f) #css starts */
.footftkxsoham8f h3{    
    margin-left: 15px;
    color: #5FCF80
}
.footftkxsoham8f h3 .social{
    margin-left: 5px
}
.footftkxsoham8f .headingT{
    margin-left: -4px
}
.footftkxsoham8f .nav .nav-link{
    color: #050D13
}
.footftkxsoham8f .nav-link:focus, 
.footftkxsoham8f .nav-link:hover {
    font-weight: bold;
}
.footftkxsoham8f .fab{
    color: #050D13
}
/* #foot(footftkxsoham8f) #css ends */
/*****foot*****/